<div class="container">
    <div class="container-fluid m-2">
        <button class="btn btn-success" [routerLink]="['/catalog']">&lt;&lt; Back</button>
    </div>
    <div class="row text-success">
        <div class="col-md-12">
        <h1 class="text-center">            
            <fa-icon [icon]="faExclamationTriangle" size="3x"></fa-icon><br>
            404
        </h1>
        <h2 class="text-center">Oops Page doesn't exist.</h2>
        <h4 class="text-center">Take a break , Have a Coffee, And comeback for the learning.</h4>
        <span class="text-center">
        </span>
        </div>
    </div>
</div>
