.navbar,.input-group{
    background-color: #25a18e;
}
.input-group{
    padding: 0;
}
.authform{
    margin-left: auto;
}
.form-floating{
    height: 1vh!important;
}
button{
    border-radius: 10px;
}
.navbar{
    background: url("../../assets/facebook_cover_photo_1.png") no-repeat bottom center;
}
button{
    transition: all 1s ease-in-out;
    font-weight: bold;
}
button:hover{
    background-color:white;
    color: #25a18e;
    scale: 1.02;
    border: none;
}
