.navbar,.input-group{
    background-color: #25a18e;
}
.input-group{
    padding: 0;
}
.authform{
    margin-left: auto;
}
.form-floating{
    height: 1vh!important;
}
button{
    border-radius: 10px;
}
.navbar{
    background: url("../../assets/facebook_cover_photo_1.png") no-repeat bottom center;
}
