<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title" style="justify-content: centers;">
        <img class="img-fluid" src="../../../../assets/linkedin_banner_image_1.png" width="90%" class="d-inline-block align-top" style="border: 2px solid white ;">
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/catalog']" [routerLinkActive]="'active'">
          <div class="icon">
            <fa-icon [icon]="faBook"></fa-icon>
          </div>
          <div class="title">Catalog</div>
        </div>
      </div>

      <div class="link with-children">
        <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <div class="icon">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
          </div>
          <div class="title">Dashboard</div>
        </div>
        <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/dashboard/courses']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <fa-icon [icon]="faPen"></fa-icon>
              </div>
              <div class="title">Courses</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/dashboard/calendar']" [queryParams]="{ 'child': '2' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <fa-icon [icon]="faCalendar"></fa-icon>
              </div>
              <div class="title">Schedule</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/dashboard/live']" [queryParams]="{ 'child': '3' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <fa-icon [icon]="faVideo"></fa-icon>
              </div>
              <div class="title">Live Lectures</div>
            </div>
          </div>
        </div>
      </div>

      <div class="link">
        <div class="content" [routerLink]="['/admin']" [routerLinkActive]="'active'">
          <div class="icon">
            <fa-icon [icon]="faHomeUser"></fa-icon>
          </div>
          <div class="title">Admin</div>
        </div>
      </div>

    </div>

    </div>

    

