.jumbotron-container{
    background: url("../../assets/facebook_cover_photo_1.png") no-repeat center center;
    background-color: #25a18e;
    padding: 4vh;
    color: white;
    border-radius: 10px;
}
code{
    color: yellow;
}