
<div class="row">
	<div class="col-12">
		<nav class="h-100 flex-column align-items-stretch pe-4 border-end">
			<nav class="nav nav-pills flex-column conatiner filterkeys" *ngFor="let key of filterKeys">
				<div class="form-check mb-1">
                    <button type="button" class="btn btn-success">
                        {{key | convertToFilter}}&emsp;<span class="badge badge-light bg-light text-success">{{filter[key].length}}</span>
                    </button>
                </div>
				<nav class="nav nav-pills flex-column filtervalues" style="height: 20vh;overflow-x: scroll;">
					<a role="button" class="nav-link" style="padding: 1vh;" *ngFor="let val of filterValues[key]">
                        <div class="form-check">
                            <input #checkboxRef [checked]="true" (click)="filterFunc(key, val, checkboxRef.checked)" class="form-check-input" type="checkbox" value="">                            <label class="form-check-label text-dark" >
                              {{val}}
                            </label>
                        </div>                    
                    </a>
				</nav>
			</nav>
		</nav>
    </div>
</div>

