.filterkeys{
    margin: 3vh 0;
    border: 1px solid #25a18e;
    padding: 1vh;
    border-radius: 10px;
}
.filtervalues{
    border: 1px dashed #25a18e;
    border-radius: 10px;
}
.form-check-input:checked{
    color: white;
    background-color: #25a18e;
}
.form-check-input{
    background-color: white;
}