<button type="button" style="margin-left: auto;" class="btn btn-success me-2" (click)="openVerticallyCentered(content)">
	New Game Changer
</button>

<ng-template #content let-modal>
	<div class="modal-header">
		<h3 class="modal-title text-success">
      Welcome to Koursera , <br> Gamechanger
    </h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <input name="fname" [(ngModel)]="fname" type="text" aria-label="First name" class="form-control">
        <input name="lname" [(ngModel)]="lname" type="text" aria-label="Last name" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input name="uname" [(ngModel)]="uname" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input disabled [value]="uname" type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input name="upass" [(ngModel)]="upass" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="input-group">
        <input disabled [value]="uprofession" type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <div ngbDropdown class="d-inline-block">
            <button type="button" style="background-color: #25a18e;color: white;" class="btn btn-outline-primary" #dropdownBasic1 ngbDropdownToggle>
              Profession
            </button>
            <div name="uprofession" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="setProfession('Student')" ngbDropdownItem>Student</button>
              <button (click)="setProfession('Graduate')" ngbDropdownItem>Graduate</button>
              <button (click)="setProfession('Post-Graduate')" ngbDropdownItem>Post-Graduate</button>
              <button (click)="setProfession('Employee')" ngbDropdownItem>Employee</button>
            </div>
          </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
    <button type="submit" class="btn btn-success text-white" (click)="signIn()">SIGN IN</button>
		<button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>