<div class="container">
    <div class="row mt-2"> 
      <div class="col">
        <figure style="padding: 0;margin: 0;">
            <img class="img-fluid rounded p-0 m-0" src="../../assets/facebook_cover_photo_2.png">
          </figure>
      </div>
      <div class="col">
        <div class="jumbotron text-center" style="height: 100%;display: flex;align-content: center;justify-content: center;">
            <span style="align-self: center;">
                <h1>Welcome to Koursera</h1>
                <h3>Mould the Gamechanger in you</h3>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
        <div>
            <span>{{ count }}</span>
          </div>
    </div>
      
  </div>