
<div class="container">
  <div class="row mt-2">
    <h1 class="text-success">
      Course Catalog
    </h1>  
    <hr>
    <figure style="padding: 0;margin: 0;">
      <img class="img-fluid rounded p-0 m-0" src="../../../assets/facebook_cover_photo_2.png">
    </figure>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-filter (filterChange)="filterChange($event)"></app-filter>
      </div>
      <div class="col-md-9">
        <div class="row mb-2">
          <div class="col-6"></div>
          <div class="col-6">       
            <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchVal">   
          </div>
        </div>
        <div class="card row mb-2" *ngFor="let course of searchedCourses" [routerLink]="['/catalog',course.course_id]">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/linkedin_banner_image_1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">{{course.course_name}}</h3>
                <h5 class="card-title">Instructor : {{course.course_instructor}}</h5>
                <p class="card-text">{{course.course_description}}</p>
                <p class="card-text"><small class="text-muted">Duration : {{course.course_duration}}</small></p>
                <p class="card-text"><ngb-rating [max]="5" [(rate)]="course.course_rating"></ngb-rating></p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
<app-user></app-user>
